body {
    font-family: Georgia, serif;
    text-align: center;
    padding: 2margin: 0;
    padding: 0;0px;
    line-height: 1.4;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

em {
    font-style: italic;
    font-weight: bold;
}